.sec-title {
    margin-bottom: calc(var(--section-title-space) - 8px);
    margin-top: -0.18em;
    text-transform: capitalize;
    font-weight: 700;
}

.sub-title {
    display: block;
    font-family: $title-font;
    font-size: 20px;
    font-weight: 500;
    color: $theme-color2;
    margin-bottom: 24px;
    padding-top: 5px;
    text-transform: uppercase;
    line-height: 28px;
    &:has(img) {
        margin-top: 0;
    }
    &.h4 {
        font-size: 30px;
        font-weight: 600;
        line-height: 1;
        margin-top: -0.14em;
    }
    img {
        margin: -14px 10px 0 0;
    }
    i {
        font-size: 32px;
        margin-right: 10px;
        @include md {
            font-size: 24px;
        }
    }
}

.sub-title2 {
    display: block;
    font-family: $title-font;
    font-size: 18px;
    font-weight: 600;
    color: $theme-color2;
    margin-bottom: 10px;
    margin-top: -0.35em;
}
.box-title {
    font-size: 24px;
    line-height: 1.417;
    font-weight: 700;
    margin-top: -0.32em;
    a {
        color: inherit;
        &:hover {
            color: $theme-color;
        }
    }
}
.box-subtitle {
    margin-bottom: 8px;
}

.box-title2 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    margin-top: -0.35em;
    a {
        color: inherit;
        &:hover {
            color: $theme-color;
        }
    }
}
.title-area {
    margin-bottom: calc(var(--section-title-space) - 8px);
    position: relative;
    z-index: 2;
    .sec-title {
        margin-bottom: 24px;
    }
    &.mb-0 {
        .sec-title {
            margin-bottom: -0.24em;
        }
    }
    .th-btn {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
.mb-32 {
    margin-bottom: 32px;
}

hr.title-line {
    margin-top: 0;
    background-color: $border-color;
    opacity: 1;
}
.sec-btn {
    text-align: center;
}
.sec-btn,
.title-line {
    margin-bottom: var(--section-title-space);
}

@include lg {
    .sub-title {
        margin-bottom: 20px;
    }
    .title-area,
    .sec-title {
        --section-title-space: 60px;
        &.mb-45 {
            margin-bottom: 36px;
        }
        &.mb-50 {
            margin-bottom: 40px;
        }
    }
    .sec-btn,
    .title-line {
        --section-title-space: 55px;
    }
}

@include md {
    .title-area,
    .sec-title {
        --section-title-space: 50px;
        &.mb-45 {
            margin-bottom: 35px;
        }
    }
    .sec-btn,
    .title-line {
        --section-title-space: 50px;
    }
    .sub-title {
        &.h4 {
            font-size: 22px;
        }
    }
}

@include vxs {
    .shadow-title {
        font-size: 40px;
    }
}